[package]
name = "typst-py"
version = "0.11.0"
edition = "2021"
description = "Python binding to typst"
license = "Apache-2.0"
repository = "https://github.com/messense/typst-py"
readme = "README.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
crate-type = ["cdylib"]

[dependencies]
chrono = { version = "0.4.24", default-features = false, features = [
    "clock",
    "std",
] }
codespan-reporting = "0.11"
comemo = "0.4.0"
dirs = "5"
ecow = "0.2"
env_proxy = "0.4"
filetime = "0.2.22"
flate2 = "1"
fontdb = "0.16.0"
pathdiff = "0.2"
pyo3 = { version = "0.20.0", features = ["abi3-py37"] }
same-file = "1"
siphasher = "1.0"
tar = "0.4"
typst ="0.11.0"
typst-pdf = "0.11.0"
typst-svg = "0.11.0"
typst-render = "0.11.0"
ureq = { version = "2", default-features = false, features = [
    "gzip",
    "socks-proxy",
] }
walkdir = "2.4.0"

[target.'cfg(target_os = "linux")'.dependencies]
openssl = { version = "0.10", optional = true }

[features]
default = ["rustls"]
rustls = ["ureq/tls"]
native-tls = ["ureq/native-tls"]
native-tls-vendored = ["native-tls", "openssl/vendored"]
