[package]
name = "typst-py"
version = "0.3.0"
edition = "2021"
description = "Python binding to typst"
license = "Apache-2.0"
repository = "https://github.com/messense/typst-py"
readme = "README.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.18.1", features = ["abi3-py37"] }
typst = { git = "https://github.com/typst/typst.git", tag = "v0.3.0" }
typst-library = { git = "https://github.com/typst/typst.git", tag = "v0.3.0" }
comemo = "0.2"
dirs = "5"
elsa = "1.7"
memmap2 = "0.5"
once_cell = "1"
same-file = "1"
siphasher = "0.3"
walkdir = "2"
